body {
	margin: 0;
	padding: 0;
}

.body {
	position: absolute;
	background-size: 100% 100%;
}

.container {
	background-image: url("src/images/background.gif");
	background-size: 100% 100%;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
}

.hidden {
	cursor: pointer;
	z-index: 1000;
	text-align: center;
	background-color: black;
	position: absolute;
	width: 100%;
	height: 100%;
}

.hidden > p {
	font-family: Arial;
	color: white;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.no-display {
	display: none;
}